{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="max-w-lg mx-auto mt-10">
    <h1 class="text-2xl font-bold mb-5">Agregar Producto</h1>
    <form action="{% url 'add_product' %}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        {{ form.as_p }}
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Agregar
            </button>
        </div>
    </form>
</div>
{% endblock %}
